.order-confirmation-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .order-confirmation-title {
    font-size: 28px;
    color: #333333;
    margin-top: 0;
  }
  
  .order-confirmation-content {
    margin-top: 20px;
  }
  
  .order-confirmation-message {
    color: #777777;
    margin-bottom: 10px;
  }
  .order-confirmation-button{
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background: rgb(63, 5, 63);
  }

  .order-confirmation-button:hover{
    background: radial-gradient( lavender,rgb(245, 186, 232));
    color: black;
    font-weight: bold;
}