
    /* cart items */
    .sub-containerCart{
        max-width: 100%;
        /* margin: auto; */
        padding: 0 30px;
    }
    .cart-page{
        margin: 80px auto;
    }
    table{
        width: 100%;
        border-collapse: collapse;
    }
    .cart-info{
        display: flex;
        flex-wrap: wrap;
    }

    th{
        text-align: left;
        padding: 5px;
        color: white;
        background: rgb(56, 5, 56);
        font-weight: normal;
    }
   
   
    td{
        padding: 10px;
        /* display: flex; */
    }
    td input{
        width: 40px;
        height: 30px;
        padding: 5px;
    }
    td  a{
        color:rgb(56, 5, 56);
        font-size: 12px;
    }
    td img{
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .total-price{
        display: flex;
        justify-content: flex-end;

    }
    .total-price table{
        border-top: 3px solid rgb(56, 5, 56);
        width: 100%;
        max-width: 360px;
    }
    td:last-child{
        text-align: right;
    }
    th:last-child{
        text-align: right;
    }
    .btnCheckOut {
        background-color:rgb(56, 5, 56);
        color: lavender ;
        display: inline-block;
        padding: 8px 31px;
        border-radius: 10px;
        width: 280%;
    }
    .btnContinue {
        background-color:rgb(56, 5, 56);
        color: lavender ;
        display: inline-block;
        padding: 8px 0px;
        margin-top: 100px;
        margin-right: 100px;
        border-radius: 10px;
        width: 188%;
        position: relative;
        right: 78%;
    }
    .btnContinue:hover, .btnCheckOut:hover{
        background-color: lavender ;
        color:rgb(56, 5, 56) ;
        transition: 0.4s;
        font-weight: bold;
        transform: 0.5s;
    }
    .Removebtn{
        color: white;
        transition: 0.4s;
        padding: 5px 5px;
        font-weight: bold;
        transform: 0.5s;
        background: rgb(56, 5, 56);
    }

    .quantityCart button {
        padding: 10px 15px;
        margin-right: 10px;
        margin-left: 10px;
        color: aliceblue;
        background-color: rgb(63, 5, 63);
        border-radius: 5px;
        border: none;
        font-size: 20px;
      }